.index-title {
	color: rgba(0, 0, 0, 0.84);
	margin-top: 20px;
}
.index-sub {
	color: rgba(0, 0, 0, 0.54);
}
.index-text {
	margin-top: 20px;
	color: rgba(0, 0, 0, 0.44);
}
.index-image {
	width: 400px;
}
.social-icon {
	color: rgba(0, 0, 0, 0.44);
	font-size: 1.5rem;
}
.clock {
	margin-left: 25px;
}
.jumbotron.fortags a {
	background: #1c9963 !important;
}
.error {
	text-align: center !important;
}
@media (min-width: 769px) {
	.md-nopad-right {
		padding-right: 0px !important;
	}
	.md-nopad-left {
		padding-left: 0px !important;
	}
}

.navbar {
	padding-top: 0;
	padding-bottom: 0;
}
.navbar-brand {
	padding-top: 0;
	padding-bottom: 0;
}
.navbar-brand img {
	height: 56px;
}
.mediumnavigation .navbar-brand img {
	max-height: 56px;
}
.navbar-nav .nav-link{
	font-family: "Titillium Web", sans-serif;
	color: #585b60;
	font-weight: 600;
	font-size: 1rem;
	text-transform: uppercase;
}
.navbar-nav .nav-item:hover .nav-link, .navbar-nav .nav-item.active .nav-link{
	color: #f13835 !important;
}
